<%= link_to "<i class='fa fa-arrow-circle-left  2x'></i> Back to list".html_safe, admin_account_persons_path %>

<%= turbo_frame_tag "person__#{@person.id}" do  %>

  <div class="cell editable" style="position: relative;">

    <% if @person.errors.any? %>
      <%= render(partial: "admin/errors", locals: {resource: @person }) %>
    <% end %>

    <h2>Editing <%= @person.name %></h2>
    <%= form_with model: @person, url: admin_account_person_path(@account, @person) do |f| %>
    <%=  render partial: "form",  locals: {:person => @person, f: f} %>
    <% end %>

  </div>

<% end %>


