<div class="row">
  <div class='col form-group <%='alert-danger' if @account.errors.details.keys.include?(:name)%>' > 
  <%= f.text_field :name, value: @account.name, size: 40, class: 'form-control', type: '' %>
   <label class='form-text' >Name</label>
</div>
<div class='col form-group <%='alert-danger' if @account.errors.details.keys.include?(:is_admin)%>' > 
  <span>Is admin</span>  <%= f.radio_button(:is_admin,  '0', checked: account.is_admin  ? '' : 'checked') %>
  <%= f.label(:is_admin, value: 'No', for: 'account_is_admin_0') %>
  <%= f.radio_button(:is_admin, '1',  checked: account.is_admin  ? 'checked' : '') %>
  <%= f.label(:is_admin, value: 'Yes', for: 'account_is_admin_1') %>
</div>
<div class='col form-group <%='alert-danger' if @account.errors.details.keys.include?(:email)%>' > 
  <%= f.text_field :email, value: @account.email, size: 40, class: 'form-control', type: '' %>
   <label class='form-text' >Email</label>
</div>

  <div class="col">
    <%= link_to "Cancel", admin_accounts_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
