<div class='scaffold-cell'  style='flex-basis: 15%'>
  <%= account.name %>
</div>
<div class='scaffold-cell'  style='flex-basis: 15%'>
  <% if account.is_admin.nil? %>
      <span class='alert-danger'>MISSING</span>
  <% elsif account.is_admin %>
    YES
  <% else %>
    NO
  <% end %>
</div>

<div class='scaffold-cell'  style='flex-basis: 15%'>
  <%= account.email %>
</div>


  <div class="scaffold-cell scaffold-downnest" style="flex-basis: 45%" >
  <%= render partial: "admin/persons/list", locals: {
  account: account,
  persons: account.persons} %>
  </div>


<div class="scaffold-cell scaffold-line-buttons" style="flex-basis: 150px;">
  
    <%= form_with url: admin_account_path(account), html: {style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe, data: {confirm: 'Are you sure?'}, class: "delete-account-button btn btn-primary btn-sm" %>
    <% end %>
  


  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_admin_account_path(account), disable_with: "Loading...", class: "edit-account-button btn btn-primary btn-sm" %>
  
</div>
