<div class='col'>
  <%= account.name %>
</div>
<div class='col'>
  <% if account.is_admin.nil? %>
      <span class='alert-danger'>MISSING</span>
  <% elsif account.is_admin %>
    YES
  <% else %>
    NO
  <% end %>
</div>

<div class='col'>
  <%= account.email %>
</div>



<div class="col">
  
    <%= form_with url: admin_account_path(account), method: :delete do |f| %>
      <%= f.submit "Delete".html_safe, data: {confirm: 'Are you sure?'}, class: "delete-account-button btn btn-primary " %>
    <% end %>
  


  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_admin_account_path(account), disable_with: "Loading...", class: "edit-account-button btn btn-primary " %>
  
</div>
